name: Lint and Test

on:
  workflow_call:
    inputs:
      version:
        description: 'version to test against (in addition to latest 3.x)'
        required: false
        default: '3.12'
        type: string

jobs:
  pytest:
    runs-on: ubuntu-latest
    name: Test python ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version: [ '${{ inputs.version }}' ]
        experimental: [false]
        include:
          - python-version: '3.x'
            experimental: true
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - run: pipx install poetry

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - run: poetry install

      - run: poetry run pip install pytest-github-actions-annotate-failures

      - run: poetry run pytest
